body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #fff;
}

.main-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cv-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.card-title {
    color: #343a40;
}

.btn-primary {
    background-color: #007BFF; 
    color: #fff;
    border: 1px solid #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.project a {
    color: #007BFF;
}

.project a:hover {
    text-decoration: underline;
}
